.table {
  border-collapse: collapse;
  width: 100%; 
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.table thead td {
  white-space: nowrap;
  min-width: 200px; 
}

.table thead tr td {
  width: 33.33%; 
}
